aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
async-timeout==4.0.3
attrs==24.2.0
blinker==1.6.2
Bottleneck==1.3.7
Brotli==1.0.9
cachelib==0.9.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
cs50==9.3.4
dataclasses-json==0.6.7
diskcache==5.6.3
dnspython==2.6.1
email_validator==2.2.0
exceptiongroup==1.2.1
fastapi==0.111.0
fastapi-cli==0.0.4
Flask==3.0.3
Flask-Session==0.8.0
frozenlist==1.4.1
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna==3.7
importlib-metadata==7.0.1
itsdangerous==2.2.0
Jinja2==3.1.4
jsonify==0.5
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.35
langchain-text-splitters==0.2.2
langsmith==0.1.104
llama_cpp_python==0.2.79
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.22.0
mdurl==0.1.2
msgspec==0.18.6
multidict==6.0.5
mypy-extensions==1.0.0
numexpr==2.8.7
numpy==1.26.4
ollama==0.3.1
orjson==3.10.5
packaging==24.1
pandas==2.2.2
pip==24.0
pydantic==2.7.4
pydantic_core==2.18.4
pydantic-settings==2.3.4
Pygments==2.18.0
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
rich==13.7.1
setuptools==69.5.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.32
sqlparse==0.5.1
sse-starlette==2.1.2
starlette==0.37.2
starlette-context==0.3.6
tenacity==8.5.0
termcolor==2.4.0
typer==0.12.3
typing_extensions==4.12.2
typing-inspect==0.9.0
tzdata==2023.3
ujson==5.10.0
urllib3==2.2.2
uvicorn==0.30.1
uvloop==0.19.0
watchfiles==0.22.0
websockets==12.0
Werkzeug==3.0.3
wheel==0.43.0
yarl==1.9.4
zipp==3.17.0
