{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<form action="/register" method="post" aria-labelledby="registration-form">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input autocomplete="off" autofocus id="username" class="form-control mx-auto w-auto" name="username" placeholder="Username"
            type="text" aria-required="true" aria-label="Username">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password"
            aria-required="true" aria-label="Password">
    </div>
    <div class="mb-3">
        <label for="confirmation" class="form-label">Confirm Password</label>
        <input id="confirmation" class="form-control mx-auto w-auto" name="confirmation" placeholder="Password (Confirm)"
            type="password" aria-required="true" aria-label="Confirm Password">
    </div>
    <div class="text-center"> <!-- Centering the button -->
        <button class="btn btn-primary" type="submit" aria-label="Submit registration form">Register</button>
    </div>
</form>
{% endblock %}
